<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Liste des genres</title>
    <link rel="stylesheet" href="/css/main.css"> <!-- Lien vers le fichier CSS -->
</head>
<body>
    {{> header}}

<div class="container">
    <h1>Liste des genres</h1>
    <ul>
        {{#each genres}}
            <li>
                <a href="/genres/{{this.id_genre}}">{{this.genre}}</a>
            </li>
        {{/each}}
    </ul>
</div>

{{> footer}}
</body>
</html>
