<header>
    <h1>{{headerTitle}}</h1> <!-- Dynamique en fonction de la page -->
    <nav>
        <a href="/">Accueil</a>
        <a href="/games">Jeux</a>
        <a href="/editors">Éditeurs</a>
        <a href="/genres">Genres</a>
    </nav>
</header>