<header>
    <nav>
        <h1>VAPEUR</h1>
        <img src="/vapeur_logo.png" alt="Vapeur Logo" class="logo" id="logo">
        <a href="/">Accueil</a>
        <a href="/games">Jeux</a>
        <a href="/editors">Éditeurs</a>
        <a href="/genres">Genres</a>
    </nav>
</header>
