<h1>Créer un jeu</h1>
<form action="/games/create" method="POST">
    <input type="text" name="title" placeholder="Titre" required>
    <textarea name="desc" placeholder="Description" required></textarea>
    <input type="date" name="releaseDate" required>
    <select name="genreId" required>
        {{#each genres}}
        <option value="{{this.id_genre}}">{{this.genre}}</option>
        {{/each}}
    </select>
    <select name="editorId" required>
        {{#each editors}}
        <option value="{{this.id_editor}}">{{this.name}}</option>
        {{/each}}
    </select>
    <label>
        <input type="checkbox" name="featured"> Mettre en avant
    </label>
    <button type="submit">Créer</button>
</form>