<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Liste des éditeurs</title>
    <link rel="stylesheet" href="/css/main.css"> <!-- Lien vers le fichier CSS -->
</head>
<body>
    <!-- Inclure le header -->
    {{> header}}

    <div class="container">
        <a href="/editors/create">Créer un editeur</a>
        <h1>Liste des éditeurs</h1>
        <ul>
            {{#each editors}}
                <li>
                    {{this.name}} - <a href="/editors/{{this.id_editor}}">Voir les jeux</a>
                </li>
            {{/each}}
        </ul>
    </div>

    <!-- Inclure le footer -->
    {{> footer}}
</body>
</html>
