<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Liste des jeux</title>
    <link rel="stylesheet" href="/css/main.css"> <!-- Lien vers le fichier CSS -->
</head>
<body>
    {{> header}}

<div class="container">
    <a href="/games/create">Créer un jeu</a>
    <h1>Liste de tous les jeux</h1>
    <ul>
        {{#each games}}
            <li>
                <a href="/games/{{this.id_game}}">{{this.title}}</a> - 
                {{this.genre.genre}} ({{this.editor.name}})
            </li>
        {{/each}}
    </ul>
</div>

{{> footer}}
</body>
</html>
